/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/roboto/RobotoLight/RobotoLight.eot");
    src: url("../fonts/roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/roboto/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/roboto/RobotoBold/RobotoBold.eot");
    src: url("../fonts/roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-size: cover;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    color: #eeeeee;
    font-family: RobotoRegular;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    /*background: #7d7e7d;  Old browsers */
    /*background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);  FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);  Chrome10-25,Safari5.1-6 */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );  IE6-9 */
    /*background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right, rgba(63,63,63,0.01) 0%,rgba(63,63,63,1) 10%,rgba(63,63,63,1) 90%,rgba(63,63,63,0.9) 91%,rgba(0,0,0,0) 100%);
    padding: 1% 0%;
    width: 80%;
    margin-left: 10%;
    border-radius: 0 0 5px 5px;
}

.header .header-logo {
    display: inline-block;
}

.header .header-logo img {
    /*position: absolute;*/
    vertical-align: super;
    display: inline-block;
    margin: 0 0 -3% 0;
    padding: 0;
    top: 0;
    height: 100px;
}

.header .header-logo .header-text-logo {
    font-size: 27px;
    color: #757575;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.header .header-search {
    margin-left: 40%;
    display: inline-block;
    vertical-align: top;
    right: 5%;
    position: fixed;
}

.header .header-search input {
    border-style: none;
    padding: 15px 50px;
    border-radius: 20px;
}

.header .header-search i {
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    vertical-align: top;
}

.navigation {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    background-color: #515151;
    width: 15%;
    padding: 0;
    margin: 0 0 0 15%;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    padding: 1em 0;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: thin;
    border-color: #878787;
}

.navigation .advertising {

}

.navigation li:hover {
    /*background: linear-gradient(to right, #680000 0%,#7F0000 0%,#9C0000 44%,#C30000 100%);*/
    /*background: radial-gradient(ellipse at center, #680000 0%,#7F0000 0%,#7F0000 44%,#680000 100%);*/
    background: linear-gradient(to right, rgba(132,26,26,0.01) 1%,rgba(132,26,26,1) 50%,rgba(125,185,232,0) 100%);
}

.profile {
    display: inline-block;
    color: #3F3F3F;
    vertical-align: top;
    background-color: #ffffff;
    width: 55%;
    text-align: right;
}

.profile .profile-info {
    display: inline-block;
    vertical-align: top;
    width: 310px;
}

.profile .profile-info a {
    color: #3F3F3F;
    text-decoration: none;
}

.profile .profile-info .profile-name {
    font-size: 30px;
}

.profile .profile-info .profile-birthday, .profile-sex, .profile-location, .profile-links {
    margin-bottom: 10px;
    text-align: left;
}

.profile .profile-info .profile-links a{
    font-size: 30px;
}

.profile .profile-photo {
    border-radius: 10px;
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin-left: 40px;
    display: inline-block;
}

.footer {
    /*background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);*/
    /*background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%);*/
    /*background: linear-gradient(to bottom, rgba(112,112,112,1) 0%,rgba(183,183,183,1) 50%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);*/
    background: linear-gradient(to right, rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%);
    height: 55px;
    border-radius: 5px 5px 0 0;
    width: 80%;
    margin: 0 10%;
    position: fixed;
    bottom: 0;
}