/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/roboto/RobotoLight/RobotoLight.eot");
    src: url("../fonts/roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/roboto/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/roboto/RobotoBold/RobotoBold.eot");
    src: url("../fonts/roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-size: cover;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    color: #151517;
    font-family: RobotoRegular;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    /*background: #7d7e7d;  Old browsers */
    /*background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);  FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);  Chrome10-25,Safari5.1-6 */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );  IE6-9 */
    /*background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right, rgba(63,63,63,0.01) 0%,rgba(63,63,63,1) 10%,rgba(63,63,63,1) 90%,rgba(63,63,63,0.9) 91%,rgba(0,0,0,0) 100%);
    width: 80%;
    align-self: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    flex: 2 1 20%;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-logo img {
    height: 100px;
}

.header-logo a {
    text-decoration: none;
}

.header-logo-text {
    font-size: 27px;
    color: #757575;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.header-search {

}

.header-search input {
    border-style: none;
    padding: 15px;
    border-radius: 50px;
    width: 250px;
}

.header-search i {
    font-size: 20px;
    border: solid 1px #ffffff;
    border-radius: 50px;
    padding: 12px;
    vertical-align: top;
    color: #ffffff;
}



.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 7 0 80%;
}



.content-navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    width: 15%;
    padding: 0;
}

.content-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-navigation li {
    padding: 1em 0;
    border-bottom: solid thin #878787;
}

.content-navigation li a {
    color: #eeeeee;
    text-decoration: none;
}

.content-navigation-advertising {

}

.content-navigation li:hover {
    /*background: linear-gradient(to right, #680000 0%,#7F0000 0%,#9C0000 44%,#C30000 100%);*/
    /*background: radial-gradient(ellipse at center, #680000 0%,#7F0000 0%,#7F0000 44%,#680000 100%);*/
    background: linear-gradient(to right, rgba(132,26,26,0.01) 1%,rgba(132,26,26,1) 50%,rgba(125,185,232,0) 100%);
}

.content-navigation li:active {
    /*background: linear-gradient(to right, #680000 0%,#7F0000 0%,#9C0000 44%,#C30000 100%);*/
    /*background: radial-gradient(ellipse at center, #680000 0%,#7F0000 0%,#7F0000 44%,#680000 100%);*/
    background: linear-gradient(to right, rgba(132,26,26,0.01) 1%,rgba(132,26,26,1) 50%,rgba(125,185,232,0) 100%);
}



.content-profile {
    background-color: rgba(255,255,255,.8);
    width: 55%;
    text-align: right;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-profile-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-profile-info {
    vertical-align: top;
    width: 45%;
    margin: 0 30px;
}

.content-profile-info a {
    color: #3F3F3F;
    text-decoration: none;
}

.content-profile-name {
    font-size: 30px;
}

.content-profile-birthday, .content-profile-sex, .content-profile-location, .content-profile-links {
    margin-bottom: 10px;
    text-align: left;
}

.content-profile-links a{
    font-size: 30px;
}

.content-profile-photo {
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 10px 25px;
}

.content-profile-blog {
    display: flex;
    flex-direction: column;
}

.content-profile-blog-head {
    border: solid #878787 1px;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 15px;
    font-size: 17px;
}

.content-profile-blog i {
    vertical-align: middle;
    font-size: 25px;
}

.content-profile-blog-btn button {
    width: 90%;
    padding: 10px;
    margin: 1% 0 0 0;
    border: solid 1px #878787;
    background-color: rgba(255,255,255,.5);
    border-radius: 50px;
    color: #000000;
}

.content-profile-blog-post {
    border: solid 1px #878787;
    border-left: none;
    border-right: none;
    margin: 10px 0 10px 0;
}

.content-profile-blog-post-text {
    text-align: left;
    margin: 10px;
}

.content-profile-blog-post-photo {
    text-align: center;
}

.content-profile-blog-post-photo img {
    width: 590px;
    margin: 20px 0 20px 0;
}

.content-profile-blog-post-info {
    font-size: 12px;
    width: 100%;
    text-align: right;
    margin: 0 20px 0 0;
}

.content-profile-blog-post-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-profile-blog-post-actions span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 15%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.content-profile-blog-post-actions span i {
    margin-right: 15px;
}

.content-profile-blog-post-actions span:hover {
    color: rgba(255,255,255, 1);
    background-color: rgba(0,0,0, .3);
}



.content-friends {
    background-color: rgba(255,255,255,.8);
    overflow-y: auto;
    overflow-x: hidden;
    width: 55%;
}

.content-friends-unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px #3f3f3f;
}

.content-friends-unit-photo {
    flex: 1 1 10%;
}

.content-friends-unit-photo img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.content-friends-unit-info {
    flex: 4 1 70%;
    margin: 0 0 0 10px;
}

.content-friends-unit-info a {
    color: #3F3F3F;
    font-size: 30px;
    text-decoration: none;
}

.content-friends-unit-info-actions {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    text-decoration: underline;
    background-color: rgba(0,0,0,0.2);
    width: 215px;
    padding: 5px;
    border-radius: 5px;
}

.content-friends-unit-info-actions a {
    font-size: 16px;
}

.content-friends-unit-info:hover .content-friends-unit-info-actions{
    visibility: visible;
}



.content-messages {
    background-color: rgba(255,255,255,.8);
    overflow-x: hidden;
    overflow-y: auto;
    width: 55%;
}

.content-messages-unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px #3f3f3f;
}

.content-messages-unit-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 150px;
}

.content-messages-unit-info a {
    color: #3F3F3F;
    font-size: 20px;
    text-decoration: none;
}

.content-messages-unit-info img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.content-messages-unit-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 2 1 66%;
    margin: 0 10px 0 10px;
}

.content-messages-unit-input-last-text {
    background-color: rgba(0, 0, 0, .4);
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-messages-unit-input-last-info {
    font-size: 12px;
}

.content-messages-unit-input-last-info a {
    color: #3F3F3F;
    text-decoration: none;
}

.content-messages-unit-input-area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.content-messages-unit-input-area textarea {
    border-radius: 5px;
    font-family: RobotoRegular;
    color: #3f3f3f;
    flex: 3 1 15%;
}

.content-messages-unit-input-area button {
    border: solid 1px #3f3f3f;
    background-color: transparent;
    border-radius: 50px;
    height: 25px;
    margin: 0 0 0 10px;
    flex: 1 1 10%;
}



.content-news {
    background-color: rgba(255,255,255, 0.8);
    width: 55%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-news-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #3f3f3f;
}

.content-news-unit-header {
    margin: 10px;
    font-size: 20px;
}

.content-news-unit-photo {
}

.content-news-unit-photo img {
    height: 400px;
    width: 700px;
}

.content-news-unit-text {
    height: 5em;
    margin: 10px 35px;
    overflow: hidden;
}

.content-news-unit-info {
    font-size: 12px;
    width: 100%;
    text-align: right;
    margin: 0 20px 0 0;
}

.content-news-unit-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    width: 100%;
}

.content-news-unit-actions span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 15%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.content-news-unit-actions span:hover {
    color: rgba(255,255,255, 1);
    background-color: rgba(0,0,0, .3);
}

.content-news-unit-actions i {
    margin: 0 10px 0 0;
}



.content-motoblog {
    background-color: rgba(255,255,255, 0.8);
    width: 55%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-motoblog-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #3f3f3f;
}

.content-motoblog-unit-header {
    margin: 10px;
    font-size: 20px;
}

.content-motoblog-unit-photo {
}

.content-motoblog-unit-photo img {
    height: 400px;
    width: 700px;
}

.content-motoblog-unit-text {
    height: 5em;
    margin: 10px 35px;
    overflow: hidden;
}

.content-motoblog-unit-info {
    font-size: 12px;
    width: 100%;
    text-align: right;
    margin: 0 20px 0 0;
}

.content-motoblog-unit-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    width: 100%;
}

.content-motoblog-unit-actions span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 15%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.content-motoblog-unit-actions span:hover {
    color: rgba(255,255,255, 1);
    background-color: rgba(0,0,0, .3);
}

.content-motoblog-unit-actions i {
    margin: 0 10px 0 0;
}



.content-communities {
    background-color: rgba(255,255,255,.8);
    overflow-y: auto;
    overflow-x: hidden;
    width: 55%;
}

.content-communities-unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: solid 1px #3f3f3f;
}

.content-communities-unit-photo {
    flex: 1 1 10%;
}

.content-communities-unit-photo img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.content-communities-unit-info {
    flex: 4 1 70%;
    margin: 0 0 0 10px;
}

.content-communities-unit-info a {
    color: #3F3F3F;
    font-size: 30px;
    text-decoration: none;
}

.content-communities-unit-info p {
    margin: 0;
}

.content-communities-unit-info-actions {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    text-decoration: underline;
    background-color: rgba(0,0,0,0.2);
    width: 215px;
    padding: 5px;
    border-radius: 5px;
}

.content-communities-unit-info-actions a {
    font-size: 16px;
}

.content-communities-unit-info:hover .content-communities-unit-info-actions{
    visibility: visible;
}



.content-gallery {
    column-count: 4;
    column-gap: 0;
    flex: 0 1 55%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255,255,255,.8);
}

.content-gallery img {
    margin: 10px;
    overflow: hidden;
    height: 200px;
}



.content-videos {
    background-color: rgba(255,255,255,.8);
    width: 55%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-videos-unit {
    border-bottom: solid 1px #878787;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.content-videos-unit-player {
    background-color: #000000;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

.content-videos-unit-info {}

.content-videos-unit-info-name {
    text-align: center;
    display: block;
    font-size: 23px;
    margin: 5px;
}

.content-videos-unit-info-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
    color: #000000;
    width: 100%;
}

.content-videos-unit-info-actions span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 15%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.content-videos-unit-info-actions span:hover {
    color: rgba(255,255,255, 1);
    background-color: rgba(0,0,0, .3);
}

.content-videos-unit-info-actions i {
    margin: 0 10px 0 0;
}



.content-about {
    padding: 25px;
    margin: 50px;
    flex: 1 1 60%;
    color: #cccccc;
}

.content-about a {
    text-decoration: none;
    color: #000000;
}

.content-enter {
    margin: 50px;
    flex: 0 1 30%;
}

.content-enter-form {
    background-color: rgba(0, 0, 0, 0.6);
    color: #cccccc;
}

.content-enter-form-title {
    font-size: 20px;
    padding: 30px 20px;
}

.content-enter-form-field {
    margin: 10px 20px;
}

.content-enter-form-field input {
    border: solid 1px #cccccc;
    border-radius: 20px;
    background-color: rgba(125, 126, 127, 0);
    padding: 10px;
    color: #cccccc;
    display: block;
    margin: 10px auto;
    width: 90%;
}

.content-enter-form-field a {
    text-decoration: none;
    color: #cccccc;
}

.content-enter-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-enter-form-buttons a {
    text-decoration: none;
    color: #ffffff;
}

.content-enter-form-buttons button {
    color: #eeeeee;
    border-top: solid 1px #ffffff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 1em;
    margin: 20px 0 0 0;
    flex: 1 1 50%;
    background-color: rgba(125, 126, 127, 0);
}

.content-enter-form-buttons button:hover {
    background: linear-gradient(to right, rgba(132,26,26,0.01) 1%,rgba(132,26,26,1) 50%,rgba(125,185,232,0) 100%);
}



.content-registration {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 15px 0 15px;
    color: #cccccc;
    width: 55%;
}

.content-registration-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-registration #avatar {
    border-style: none;
}

.content-registration .sex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
}

.content-registration .sex input {
    width: 15px;
    height: 15px;
}

.content-registration-field {
    margin: 0 0 15px 0;
}

.content-registration-field input {
    display: block;
    border: solid 1px #eeeeee;
    border-radius: 50px;
    background: none;
    padding: 10px 5px;
    width: 300px;
    color: #eeeeee;
    margin-top: 10px;
}

.content-registration-submit input {
    display: block;
    border: solid 1px #eeeeee;
    border-radius: 50px;
    background: none;
    padding: 10px 5px;
    width: 300px;
    color: #eeeeee;
    margin: 25px auto;
}



.footer {
    /*background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);*/
    /*background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%);*/
    /*background: linear-gradient(to bottom, rgba(112,112,112,1) 0%,rgba(183,183,183,1) 50%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);*/
    background: linear-gradient(to right, rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%);
    height: 110px;
    border-radius: 5px 5px 0 0;
    width: 80%;
    align-self: center;
    bottom: 0;
    flex: 1 1 10%;
}